<h1>Maildog</h1>

<a href='<%= new_session_url %>'>Sign in</a>
<div id='content'></div>

<form action='<%= users_url %>' class='create-account-form' method='post'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <label>Username
  <input type='text' name='user[username]' value='<%= @user.username %>'>
  </label>
  <label>First Name
  <input type='text' name='user[first_name]' value='<%= @user.first_name %>'>
  </label>
  <label>Last Name
  <input type='text' name='user[last_name]' value='<%= @user.last_name %>'>
  </label>
  <label>Password
  <input type='password' name='user[password]'>
  </label>
  <button>Submit</button>
</form>
