<div class='check-box-container <%= tail.checkedIfChecked() %>'>
  <div class='check-box <%= tail.checkedCheckBoxIfChecked() %>'></div>
</div>
<div class='star <%= tail.starOnIfStarred() %>'></div>
<a href='#threads/<%= thread.id %><%= trash %>' class='email-list-item-link group'>
  <p class='email-list-item-correspondent'>
    <%= correspondent %>
    <%= emailCount %>
  </p>
  <p class='email-list-item-subject'>
    <%= thread.escape('subject') %>
  </p>
  <p class='email-list-item-preview'>
    <%= tail.preview() %>
  </p>
  <p class='email-list-item-time-date'>
    <%= tail.getTimeOrDate() %>
  </p>
</a>
