<div class='check-box-container <%= email.checkedIfChecked() %>'>
  <div class='check-box <%= email.checkedCheckBoxIfChecked() %>'></div>
</div>
<div class='star <%= email.starOnIfStarred() %>'></div>
<a href='#emails/<%= email.id %>' class='email-list-item-link group'>
  <p class='email-list-item-correspondent'>
    <%= correspondent %>
  </p>
  <p class='email-list-item-subject'>
    <%= thread.escape('subject') %>
  </p>
  <p class='email-list-item-preview'>
    <%= email.preview() %>
  </p>
  <p class='email-list-item-time-date'>
    <%= email.getTimeOrDate() %>
  </p>
</a>
