<aside class='thumb'></aside>
<p class='email-show-sender-name'>
  <%= email.sender().escape('first_name') %>
  <%= email.sender().escape('last_name') %>
</p>
<p class='email-show-sender-email'>
  <%= email.sender().escape('email') %>
</p>
<div class='garbage-can-holder'>
  <aside id='delete-message' class='icon-garbage-can'></aside>
</div>
<div class='star <%= email.starOnIfStarred() %>'></div>
<p class='email-show-date-time'>
  <%= email.getTimeOrDate() %>
</p>
<p class='email-show-body'>
  <%= email.escape('body') %>
</p>
